<h1>My Stocks</h1>

<div class="search-area">
  <h3>Search for ticker</h3>
  <%= form_tag search_stock_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock Ticker Symbol", autofocus: true, class: "form-control" %>
      </div>
      <div class="col-sm-3">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x no-left-padding' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div>
</div>
<div id="results">
  <% render partial: 'users/result' %>
</div>
<% unless @tracked_stocks.blank? %>
<%  render partial: 'stocks/list'  %>
<% end %>